# ignore folder containing retrieved data
retrieved_data

# ignore log files
*.log

#ignore obsolete files
obsolete_*

# ignore file containing token
sec_token.txt

# ignore pycache
__pycache__

#ignore file containing auth_token
0AuthToken.txt
